<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/call">Call</a>
        </li>
        <li>
          <a href="/blog/create">blog</a>
        </li>
      </ul>
    </nav>
    <h1>index Page</h1>
    <p>This page is come from the server <%= title %></p>

    <% if(blogs.length >0) { %>
    <ul>
      <% blogs.forEach(blog => { %>
      <h1><%= blog.title %></h1>
      <p><%= blog.snippet %></p>
      <% }); %>
    </ul>
    <% } else { %>
    <h1>No Post are available</h1>
    <% } %>
  </body>
</html>
